<p id="notice"><%= notice %></p>

<p>
  <b>Vote index:</b>
  <%= @vote.vote_index %>
</p>

<p>
  <b>Comment:</b>
  <%= @vote.comment %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
